.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit{
  border: none;
  background-color: rgb(245, 247, 245);
  
}
.delete{
  border: none;
  background-color: rgb(238, 231, 231)
}
.delete:hover{
  border: none;
  background-color: rgb(12, 210, 245);
  border-radius: 10px;
  padding: 5px;
  
}
.edit:hover{
  border: none;
  background-color: rgb(247, 95, 221);
  border-radius: 10px;
  padding: 8px;
}
